<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
    hi, im Philippe ! Nice to meet you (Again?) I've created this project to allow people to connect to each other.
</p>
<h1>Thanks to</h1>
<p>
  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
	Loic Boutet
	Michael Hartl
	
</p>